---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Demos">
  <div>
    <h1>Demos</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam a
      repellat aspernatur consequuntur, nam mollitia eos distinctio eaque
      aliquid omnis.
    </p>
  </div>
</Layout>
